<h1> {{title}} </h1>


<div class="container">
<form action="">

  <i>Introduce el numero</i> <input type="number" [(ngModel)]="numero1" name="numero1" placeholder="ingrese valor">
  <br>
  <br>
  <br>
  <i>Introduce el numero</i> <input type="number" [(ngModel)]="numero2" name="numero2" placeholder="ingrese valor">
  <br>
  <br>
  <br>
  <input class="btn btn-primary" type="submit" value="+" (click)="sumar()">
  <br>
  <input class="btn btn-primary" type="submit" value="-" (click)="resta()">
  <br>
  <input class="btn btn-primary" type="submit" value="x" (click)="mutipplicacion()">
  <br>
  <input class="btn btn-primary" type="submit" value="/" (click)="division()">
  <br>
  <input class="btn btn-primary" type="submit" value="^2" (click)="exponente()">
</form>
</div>

<p>Resultado: {{resultado}}</p>